DATABASE_URL=postgresql://postgres:postgres@localhost:5432/business-cards
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
MEZON_CLIENT_ID=your-mezon-client-id
MEZON_CLIENT_SECRET=your-mezon-client-secret
MEZON_BOT_ID=your-mezon-bot-id
MEZON_BOT_TOKEN=your-mezon-bot-token
