.table, .tr{
    border: 1px  dotted gray;
    text-align: center;
}
.table{
    width: 100%;
}
.tr {
    
    background-color: #8080803d;
}

.menuitem{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.button{
    background: #bcbcd2;
    padding: 5px 10px;
    border-radius: 5px;
}