.container{
  background: #f44336;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.headerLetf{
  display: flex;
  padding: 5px;
}
.title{
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px; 
}

.headeRight{
  display: flex;
  margin-right: 15px;
}

.sidebar{
  width: 20%;
}
.sidebarMobile{
  display: none;
  /* margin-top: 90px; */
}


@media (max-width: 768px) {
  .title{
    display: none;
  }
  .sidebar{
    display: none;
  }
  .sidebarMobile{
    display: block;
  }
}