.buttonTogle {
  background-color: antiquewhite;
  padding: 5px;
  margin-top: 5px;
  border-radius: 8px;
}
.container {
  width: 100%;
  position: relative;
  margin-top: 50px;
  display: flex;
}

.cardHead {
  width: 500px;
  height: 300px;
  background-color: gray;
  display: flex;
  border-radius: 8px;
}

.cardHeadContent {
  margin: auto;
  /* width: 70px;
  height: 100px; */
  text-align: center;
  color: white;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardMain {
  width: 400px;
  height: 300px;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: white;
  border-radius: 8px;
}
.cardImage {
  margin: auto;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.img {
  width: 140px;
  height: auto;
  /* border-radius: 50%; */
}
.img1 {
  width: 205px;
  height: auto;
  max-width: max-content;
  /* border-radius: 50%; */
}

.img2 {
  width: 100px;
  height: auto;
  border-radius: 10px;
  filter: grayscale(100%) brightness(1000%);
}
.imageCard {
  width: 100px;
  height: auto;
  border-radius: 30%;
}
.img3 {
  width: 60%;
  height: 60%;
}
.content {
  font-size: 22px;
  margin: auto;
  text-align: left;
  color: white;
  flex: 1;
  line-height: 45px;
}
.itemContent {
  display: flex;
  align-items: center;
  gap: 14px;
}
.title,
.title1 {
  line-height: 1;
  margin-left: 4px;
}

.title1 {
  line-height: 1.4;
  /* border-left: 5px solid #da2325; */
  /* margin-left: 4px; */
  margin-bottom: 15px;
}
.headCard {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  background-color: #da2325;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.headCard {
  background-color: #ff370096;
}
.headCard1 {
  background-color: #26506296;
}
.headContent {
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.mainCard,
.mainCard1 {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mainCard1 {
  width: 450px;
  padding: 5px;
  height: 250px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.649);
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 40px 5px;
}
.contenCard {
  flex: 0.7;
  display: flex;
  border-right: 1.5px solid #777373;
}

.button {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.contentCard {
  /* style={{ margin: "auto", textAlign: "left", color: "white", flex: 1 }} */
  font-size: 22px;
  margin: auto;
  text-align: left;
  color: #fff;
  flex: 1;
  line-height: 40px;
}
.contentCard1 {
  /* style={{ margin: "auto", textAlign: "left", color: "white", flex: 1 }} */
  font-size: 22px;
  margin: auto;
  text-align: left;
  color: gray;
  flex: 1;
  line-height: 30px;
  margin-left: 20px;
}

.headCard1 {
  width: 450px;
  height: 250px;
  border-radius: 8px;
  background-color: #da2325;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home {
  background-color: #eeecec;
  width: 60px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  border-radius: 8px;
}
.text {
  width: 300px;
  font-size: 22px;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-top: 20px;
}
.divCard {
  margin: auto;
  text-align: center;
}
.iconSwitch {
  position: absolute;
  top: 0;
  right: 30px;
}
.headingText {
  font-size: 25px;
  color: #606060;
  font-weight: 500;
}
.image {
  width: 120px;
}
.text1 {
  font-size: 16px;
  color: #767676;
}
.icon {
  font-size: 16px;
  color: #7e7b7b;
}
@media (max-width: 768px) {
  .container {
    margin-top: 80px;
  }
  /* Các kiểu dáng riêng cho mobile ở đây */
  /* Ví dụ: */
  .divCard {
    padding: 0 20px;
  }
  .iconSwitch {
    position: absolute;
    top: -75px;
    right: 5px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .contenCard{
    margin-top: 30px;
  } */
  .headCard1,
  .mainCard1 {
    width: 360px;
    height: 230px;
  }
  .image {
    width: 100px;
  }
  .img1 {
    width: 150px;
  }
  .itemContent {
    gap: 5px;
  }
  .headingText {
    font-size: 24px;
  }
  .text1 {
    font-size: 14px;
  }
  .icon {
    font-size: 13px;
  }
}
