.container{
    width: 20%;
    height: 100%;
    margin-top: 100px;
    position: fixed;
    background-color: white;
    margin-top:80px;
}

.user {
    background-repeat: no-repeat;
  padding: 20px 15px 0;
  position: relative;
  background-image: url("../public/items.png");
}

.userInfo{
    display: flex;
  align-items: center;
}

.info{
    display: flex;
  align-items: center;
  gap: 10px;
}

.logout{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    /* position: relative; */
    cursor: pointer;
}