.headerButton {
  padding: 10px 10px;
  width: 100%;
}
.headerRight {
  float: right;
}

.container {
  padding: 30px 0 30px 0;
  border: 1px dotted #80808059;
  border-radius: 10px;
}
.heading {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  font-family: "Inter";
  color: #64260c;
}
.template {
  float: right;
  margin-top: 10px;
}
.templateDiv{
  float: right;
  margin-top: 10px;
}
/* .templateButton{
  display: flex;
  align-items: center;
  margin-right: 5px;
  font-size: 14px;
  gap: 5px;
  padding: 5px 10px;
} */
.buttonDown {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
  gap: 5;
  padding: 5px 10px;
}
.boxcontent {
  border: 1px dotted gray;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
.content {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  color: #000;
}
.th {
  text-align: center;
  font-weight: bold;
  background: #b86615;
  color: #fff;
  font-size: 20px;
}
.td {
  align-items: center;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.td:hover {
  background-color: #fff;
  color: blue;
}
@media (max-width: 768px) {
  .fileUp {
    width: 278px;
  }
  .boxcontent {
    width: 280px;
  }
  .headerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headerRight {
    float: none;
    text-align: center;
  }
}
