.header {
  background: #f44336;
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}
.headerLetf {
  display: flex;
  padding: 5px;
}
.title {
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
}

.headeRight {
  display: flex;
  margin-right: 15px;
}

.headerButton {
  padding: 10px 10px;
  width: 100%;
}
.headerRight {
  float: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 100px; */
}
.heading {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  font-family: "Inter";
  color: #64260c;
}
.template {
  float: right;
  margin-top: 10px;
}
.buttonDown {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
  gap: 5;
  padding: 5px 10px;
}
.boxcontent {
  border: 1px dotted gray;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* margin-top: 40px; */
  gap: 10px;
}
.content {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  color: #000;
}
.th {
  text-align: center;
  font-weight: bold;
  background: #b86615;
  color: #fff;
  font-size: 20px;
}
.td{
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}
.td:hover {
  background-color: #fff;
  color: blue;
}
@media (max-width: 768px) {
  .title {
    display: none;
  }
  .fileUp{
    width: 278px;
  }
  .boxcontent{
    width: 280px;
  }
  .headerButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .headerRight {
    float: none;
    text-align: center;
  }
}
